<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <servlet>
    <servlet-name>First</servlet-name>
    <servlet-class>DemoServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/givepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Second</servlet-name>
    <servlet-class>Trail</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Second</servlet-name>
    <url-pattern>/trail</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <jsp-file>/search.jsp</jsp-file>
  </servlet>
  <!--mapping-->
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/search/*</url-pattern>
  </servlet-mapping>

</web-app>